.DS_Store
.AppleDouble
.LSOverride
.gradle
.idea/compiler.xml
.idea/dictionaries
.idea/misc.xml
.idea/modules/
.idea/modules.xml
.idea/vcs.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/tasks.xml
.idea/**/workspace.xml

build/
gradle.properties
init.gradle
out/